<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Bir Hata İle karşılaşıldı</h1>
    <p>Fatura işlemleri üzerine çalışıyoruz!</p>

<%- include('includes/end.ejs') %>